<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
    <bean id="SpringUtil" class="com.qlzf.commons.spring.SpringUtil"></bean>
    
    <import resource="classpath:DatasourceContext_Test.xml"/>
    
    <bean id="config" class="com.lxtx.fb.Config">
        <property name="machineId" value="1"/>
    </bean>
    
    <import resource="resource/fb/ApplicationContext_Test.xml"/>
	
	<import resource="resource/task/ApplicationContext_Test.xml"/>
	
</beans>