<div class="weui_tabbar">
        <a href="{:url('cms/index/index')}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <i class="iconfont icon-home"></i>
            </div>
            <p class="weui_tabbar_label">首页</p>
        </a>
        <a href="{:url('cms/search/index')}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <i class="iconfont icon-search"></i>
            </div>
            <p class="weui_tabbar_label">搜索</p>
        </a>
        <a href="{:url('cms/pay/index')}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <i class="iconfont icon-diamond"></i>
            </div>
            <p class="weui_tabbar_label">充值</p>
        </a>
        <a href="{:url('cms/user/index')}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <i class="iconfont icon-account"></i>
            </div>
            <p class="weui_tabbar_label">个人中心</p>
        </a>
    </div>