<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!--synch-->
	<import resource="classpath:resource/synch/DatasourceContext.xml"/>
	<import resource="classpath:resource/synch/HelperContext.xml"/>
	<import resource="classpath:resource/synch/HandlerContext.xml"/> 
	<import resource="classpath:resource/synch/WrapContext.xml"/> 
	
</beans>