<ion-view view-title="新手指南">
    <ion-header-bar align-title="center" class="bar-positive bar-header-black">
        <div class="buttons">
            <button class="button button-icon icon ion-arrow-left-c" ng-click="back()"></button>
        </div>
        <h1 class="title">新手指南</h1>
    </ion-header-bar>
    <ion-content>
        <div class="padding" style="background-color: #F1E9CF;color:#8E7525;margin: 1px;height:100%;">
<!--             <img src="http://hb.sunruiling.com/img/kf.jpg" style="width: 100%;"/> -->
            <img src="http://hb.sunruiling.com/img/hongbao-help.jpg" style="margin:1px;width: 100%;"/>
        </div>
    </ion-content>
</ion-view>
