@charset "utf-8";
/* * 首页 * Author Cloud * CreateDate 2014-03-20 * Copyright:1997-2014 Netease Inc. All rights reserved. */
*{ margin:0;padding:0;}
body {color:#000; background:#FFF; font-family: Verdana, Arial, sans-serif; font-size: 12px;}
li {list-style-type:none;}
a {color:#000; text-decoration:none;}
a:hover{ text-decoration:none;}
a:link, a:visited{ text-decoration:none;}
img{ border:none}
i, em { font-style: normal;}
div{ margin:0px auto;}




.m-index {
}

.m-index .g-main {
	width: 970px;
}

.m-index .g-side {
	width: 230px;
}

.m-index .g-side-l {
	width: 230px;
}

.m-index .g-main-l {
	float: right;
	width: 240px;
}

.m-index .g-main-m {
	float: left;
	width: 730px;
}

.g-body-bd .g-main {
	width: 960px;
}

.m-index-board {
	margin-top: 347px;
	height: 213px;
	background: #ebe1b0;
}

.m-index-board .w-tabs-tab {
	margin: 0;
	padding-top: 12px;
}

.m-index-board .w-tabs-tab-item {
	margin: 0;
	padding: 0;
	width: 120px;
	height: 34px;
	border: 0;
	background-color: #d8ce99;
	border-top: 1px solid #c8c091;
	border-bottom: 1px solid #c8c091;
	color: #666633;
	line-height: 34px;
	text-align: center;
}

.m-index-board .w-tabs-tab-item-selected {
	background: #ebe1b0;
	border-bottom: 1px solid #ebe1b0;
	font-weight: bold;
}

.m-index-board .w-tabs-tab .first {
	width: 119px;
	border-right: 1px solid #c8c091;
}

.m-index-board .w-tabs-panel-item {
	padding: 10px 15px;
}

.m-index-board .w-tabs-panel,.m-index-board .w-tabs-panel a {
	line-height: 28px;
	color: #666633;
}

.m-index-board .w-tabs-panel {
	background: none;
	border: 0;
}

.m-index-board-news li {
	display: inline-block;
	vertical-align: bottom;
	width: 200px;
}

.m-index-board-news .lv1,.m-index-board-news .lv2 {
	padding-right: 6px;
	font-family: 'verdana';
	font-size: 16px;
	font-style: italic;
}

.m-index-board-news .lv1 {
	color: #d83333;
}

.m-index-board-news .lv2 {
	color: #7d7440;
}

.m-index-duobaoIntro {
	padding: 0 12px;
	height: 211px;
	background: #ebe1b0;
	color: #666633;
}

.m-index-duobaoIntro a {
	font-weight: normal;
	color: #666633;
	font-family: simsun
}

.m-index-duobaoIntro h4 {
	margin-bottom: 5px;
	padding-top: 10px;
	width: 100%;
	line-height: 35px;
	font-weight: bold;
	border-bottom: 1px solid #666633;
}

.m-index-duobaoIntro h4 a {
	font-weight: bold;
}

.m-index-duobaoIntro-txt {
	line-height: 18px;
}

.m-index-duobaoIntro-txt p {
	text-indent: 2em;
}

.m-index-duobaoIntro-txt li {
	padding: 6px 0 6px 22px;
	position: relative;
	zoom: 1;
}

.m-index-duobaoIntro-txt .index {
	position: absolute;
	top: 8px;
	left: 0;
	display: inline-block;
	width: 18px;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
	background-color: #666633;
	color: #fff;
}

.m-index-duobaoIntro-txt a {
	text-decoration: underline;
}

.m-index-promot {
	width: 730px;
	height: 350px;
}

.m-index-newReveal {
	padding-top: 10px;
	width: 100%;
	height: 199px;
	border: 1px solid #e8e8e8;
	background: #fff;
	overflow: hidden;
}

.m-index-newReveal h4 {
	display: none;
}

.m-index-newReveal .w-slide-wrap-list {
	height: 170px;
}

.m-index-newReveal .w-slide-wrap-list-item {
	width: 364px;
	height: 170px;
	border-right: 1px solid #e8e8e8;
}

.m-index-newReveal .w-slide-controller-btn a {
	width: 38px;
	height: 38px;
	top: 85px;
}

.m-index-newReveal .w-slide-controller-btn .prev i {
	top: 7px;
	left: 11px;
}

.m-index-newReveal .w-slide-controller-btn .next i {
	top: 7px;
	right: 11px;
}

.m-index-newReveal .w-slide-controller-nav {
	position: relative;
	bottom: 0;
	left: 0;
	padding-top: 10px;
}

.m-index-newReveal .w-slide-controller-nav .dot {
	width: 10px;
	height: 10px;
}

.m-index-recommend {
	padding: 10px 15px;
	width: 200px;
	height: 329px;
	background: #f5f5f5;
	position: relative;
}

.m-index-recommend .ico-joined {
	position: absolute;
	top: 142px;
	right: 16px;
}

.m-index-recommend h4 {
	display: none;
}

.m-index-recommend .w-goods .w-goods-title a {
	font-size: 14px;
	font-weight: bold;
}

.m-index-newGoods {
	margin-left: -1px;
	width: 100%;
	height: 209px;
	border: 1px solid #e8e8e8;
	background: #fff;
	position: relative;
	overflow: hidden;
}

.m-index-newGoods .ico-label {
	right: 0;
	top: 10px;
	z-index: 1;
}

.m-index-newGoods {
}

.m-index-newGoods .w-slide-wrap-list-item {
	width: 230px;
}

.m-index-newGoods .wrap {
	width: 190px;
	margin: auto;
	table-layout: fixed;
}

.m-index-newGoods .w-slide-controller-btn a {
	width: 20px;
	height: 38px;
	top: 85px;
}

.m-index-newGoods .prev i {
	top: 12px;
	left: 5px;
}

.m-index-newGoods .next i {
	top: 12px;
	right: 5px;
}

.m-index-willReveal {
	position: relative;
	height: 211px;
	overflow: hidden;
	zoom: 1;
	background: #c9d9eb;
	background: -moz-radial-gradient(50% 75%,#fafafa 15%,#c9d9eb 80%);
	background: -webkit-radial-gradient(50% 75%,#fafafa 15%,#c9d9eb 80%);
	background: -o-radial-gradient(50% 75%,#fafafa 15%,#c9d9eb 80%);
	background: -ms-radial-gradient(50% 75%,#fafafa 15%,#c9d9eb 80%);
}

.m-index-willReveal .deco {
	position: absolute;
	right: 0;
	top: 0;
	width: 35px;
	height: 35px;
	background: url('../img/common/mix-icon.png') 0 -60px no-repeat;
}

.m-index-willReveal-extlink {
	display: block;
	width: 100%;
	height: 100%;
}

.m-index-willReveal .w-countdown,.m-index-willReveal .w-countdown-title {
	color: #455F8E;
	font-size: 12px;
}

.m-index-willReveal .w-countdown b {
	color: #F95F02;
	font-size: 18px;
}

.m-index-mod {
	margin-top: 11px;
}

.g-side .m-index-mod {
	margin-top: 18px;
}

.m-index-mod-hd {
	position: relative;
	height: 40px;
	border-bottom: 2px solid #888888;
	z-index: 1;
}

.m-index-mod-hd h3 {
	line-height: 40px;
	font-size: 18px;
	color: #000;
	font-weight: bold;
	font-family: "Microsoft Yahei";
}

.m-index-mod-more {
	position: absolute;
	right: 0;
	bottom: 0px;
	line-height: 30px;
	color: #808080;
	font-family: "simsun";
}

.m-index-mod-bd {
	background: #fff;
}

.g-side .m-index-mod-hd {
	padding-left: 15px;
	height: 32px;
	background-color: #898989;
}

.g-side .m-index-mod-hd h3 {
	line-height: 32px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}

.m-index-recordRank {
}

.m-index-recordRank .m-index-mod-bd {
	height: 481px;
	overflow: hidden;
	border: 1px solid #ddd;
	border-top: 0;
	border-bottom: 0
}

.m-index-recordRank .m-index-mod-ft {
	height: 33px;
	background-color: #f5f5f5;
	text-align: center;
	line-height: 33px;
	border: 1px solid #ddd;
	border-top: 0;
}

.m-index-recordRank .odd {
	background-color: #fff;
}

.m-index-recordRank .even {
	background-color: #f5f5f5;
}

.m-index-recordRank .w-intervalScroll-item {
	padding: 15px 10px;
	height: 66px;
}

.m-index-recordRank .w-record-detail {
	margin-left: 50px;
}

.m-index-recordRank .w-record-title {
	width: 100%;
}

.m-index-recordRank .w-record-user {
	float: left;
	display: inline-block;
	width: 80px;
}

.m-index-recordRank-winner .w-record-user {
	width: 60px;
}

.m-index-record-newest {
}

.m-index-record-newest .m-index-mod-bd {
	padding: 0 5px 0 10px;
	height: 496px;
	overflow: hidden;
	background-color: #f5f5f5;
}

.m-index-record-newest .m-index-mod-ft {
	height: 30px;
	background-color: #f5f5f5;
}

.m-index-record-newest .w-intervalScroll-item {
	padding: 16px 0;
	height: 66px;
	border-bottom: 1px solid #ddd;
}

.m-index-record-newest .w-record-detail {
	margin-left: 70px;
}

.m-index-record-newest .w-record-title {
	padding-right: 8px;
	height: 45px;
	overflow: hidden;
}

.m-index-goods-hotest {
}

.m-index-goods-others {
}

.m-index-guess {
}

.m-index-share {
	border-bottom: 1px solid #ddd;
}

.m-index-share .m-index-mod-bd {
	height: 261px;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	overflow: hidden;
	position: relative;
}

.m-index-share .w-intervalScroll-item {
	padding: 20px;
	width: 558px;
	height: 90px;
	float: left;
	border-bottom: 1px dotted #ddd
}

.m-index-share .left {
	border-right: 1px dotted #ddd;
}

.m-index-share-picLink {
	display: block;
	float: left;
	width: 110px;
	height: 90px;
	line-height: 90px;
	*line-height: 87px;
	font-size: 0;
	overflow: hidden;
	border: 1px solid #ddd;
}

.m-index-share-pic {
	vertical-align: middle;
	display: inline;
}

.m-index-share-picLink:before,.m-index-share-picLink:after {
	content: " ";
}

.m-index-share-wrap {
	position: relative;
	margin-left: 120px;
	padding: 10px 40px;
	height: 70px;
	overflow: hidden;
	line-height: 24px;
}

.m-index-share-wrap .txt {
	height: 50px;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
}

.m-index-share-wrap .txt a {
	color: #7f7f7f;
	text-decoration: none;
}

.m-index-share-wrap .author {
	margin-top: 5px;
	text-align: right;
	color: #b5b5b5;
}

.m-index-share .ico-quote {
	position: absolute;
}

.m-index-share .ico-quote-former {
	top: 0;
	left: 10px;
}

.m-index-share .ico-quote-after {
	bottom: 0;
	right: 10px;
}
.focus2 {width:730px; height:200px; margin:0 auto; overflow:hidden; position:relative;}
.focus2 ul {height:170px; position:absolute;}
.focus2 ul li {float:left; width:344px; height:170px; overflow:hidden; position:relative;}
.focus2 ul li div { overflow:hidden;}
.focus2 .btnBg {position:absolute; width:344px; height:20px; left:0; bottom:0; background:#000; display:none;}
.focus2 .btn {position:absolute; width:710px; height:23px; padding:0px 10px 0px 10px; right:0; bottom:6px; text-align:center;}
.focus2 .btn span {display:inline-block; _display:inline; _zoom:1; width:10px; height:10px; line-height:24px; text-align:center; _font-size:0; margin-top:3px; margin-left:5px; cursor:pointer; background: none repeat scroll 0 0 #b7b7b7;border-radius: 50%;}
.focus2 .btn span.on { background: none repeat scroll 0 0 #db3652}
.focus2 .preNext {width:38px; height:38px; position:absolute; top:70px; background:url(../img/sprite_1.jpg) no-repeat 0 0; cursor:pointer; display:none;}
.focus2 .pre {left:0;}
.focus2 .next {right:0; background-position:-39px 0px;}

.focus3 {width:230px; height:200px; margin:0 auto; overflow:hidden; position:relative;}
.focus3 ul {height:200px; position:absolute;}
.focus3 ul li {float:left; width:230px; height:200px; overflow:hidden; position:relative;}
.focus3 ul li div {position:absolute; overflow:hidden;}
.focus3 .btnBg {position:absolute; width:230px; height:20px; left:0; bottom:0; background:#000; display:none;}
.focus3 .btn {position:absolute; width:210px; height:23px; padding:0px 10px 0px 10px; right:0; bottom:6px; text-align:center;}
.focus3 .btn span {display:inline-block; _display:inline; _zoom:1; width:10px; height:10px; line-height:24px; text-align:center; _font-size:0; margin-left:5px; cursor:pointer; background: none repeat scroll 0 0 #b7b7b7;border-radius: 50%;}
.focus3 .btn span.on { background: none repeat scroll 0 0 #db3652}
.focus3 .preNext {width:20px; height:38px; position:absolute; top:80px; background:url(../img/sprite_1.jpg) no-repeat -78px 0px; cursor:pointer;}
.focus3 .pre {left:0;}
.focus3 .next {right:0; background-position:right top;}
	.bg {
	background:url(../images/B_bg2.jpg) no-repeat center top;
}
.banner {
	text-align:center;
	width:1200px;
	margin:0 auto;
	padding-top:20px;
}
.menu {
	height:39px;
	width:1200px;
	margin:0 auto;
	background:url(../images/B_dh_bg.gif) repeat-x left top;
	margin-bottom:2px;
	width:1200px;
	font-size:14px;
}
.menu a {
	text-decoration:none;
	color:#2c4361;
	font-weight:bold;
}
.menu a:hover {
	color:#e00;
}
.menu .menu_right {
	float:right;
	height:39px;
	width:4px;
	background:url(../images/B_title_pic.gif) no-repeat -24px -153px;
}
.menu .menu_left {
	float:left;
	height:39px;
	width:4px;
	background:url(../images/B_title_pic.gif) no-repeat left -153px;
}
.menu .menu_center {
	height:39px;
	width:790px;
	text-align:center;
	margin:0 auto;
	padding:0 0 0 50px;
}
.menu .menu_center li {
	float:left;
	line-height:38px;
	margin:0 10px;
}
.menu .menu_center .menuline {
	background:#fff url(../images/B_title_pic.gif) no-repeat -11px -153px;
	width:3px;
	height:39px;
}
.con {
	background:#f9fafb url(../images/content_bg.gif) no-repeat left top;
	padding:15px 25px;
	font-size:14px;
	color:#333;
	line-height:24px;
	border:1px solid #dce2e6;
	width:928px;
	margin:0 auto;
}
.con span {
	display:none;
}
.con .fonttop {
	font-weight:bold;
	font-family:"微软雅黑","宋体";
	color:#1e3656;
	font-size:15px;
	line-height:25px;
	margin-bottom:30px;
}
.con .title1 {
	height:25px;
	margin-top:20px;
	background:url(../images/B_title_pic.gif) no-repeat left top;
}
.con .title2 {
	height:25px;
	margin-top:20px;
	background:url(../images/B_title_pic.gif) no-repeat left -30px;
}
.con .title3 {
	height:25px;
	margin-top:20px;
	background:url(../images/B_title_pic.gif) no-repeat left -58px;
}
.con .title4 {
	height:25px;
	margin-top:20px;
	background:url(../images/B_title_pic.gif) no-repeat left -90px;
}
.con .title5 {
	height:25px;
	margin-top:20px;
	background:url(../images/B_title_pic.gif) no-repeat left -118px;
}
.bg .con .text {
	margin-bottom:10px;
	padding:20px;
	background:url(../images/B_line.gif) no-repeat left bottom;
}
.linktext {
	background:#f9fafb url(../images/B_content_pic.gif) no-repeat 10px 10px;
	padding-left:180px;
}
.footer {
	margin-top:5px;
	width:1200px;
	margin:0 auto;
}
